In [16]:
from src.utils.db import PostgreSQLDatabase
import pandas as pd

In [17]:
db = PostgreSQLDatabase()
db.connect()

[INFO] Successfully connected to postgresql-138372.user-maeldieudonne

In [ ]:
# If an operation fails, the db gets in an aborted transaction state where it is basically locked.
# The failed operation must then be aborted with:
db.connection.rollback()

In [9]:
movie_id = '0089885'
db.insert_data("movies", data = [(movie_id, None, None, None, None)])

[ERROR] Failed inserting data: duplicate key value violates unique constraint "movies_pkey"
DETAIL:  Key (movie_id)=(0089885) already exists.

In [28]:
movie_id = '0089885'
db.query_data("movies", condition=f"movie_id = '{(movie_id)}'")

[('0089885',
  'Re-Animator',
  datetime.date(1985, 10, 18),
  307,
  datetime.datetime(2025, 4, 2, 14, 11, 22))]

In [21]:
pd.DataFrame(db.query_data("reviews_raw", condition=f"movie_id = '{(movie_id)}'"))

,0,1,2,3,4,5,6,7,8,9,10
0,0089885,2920357,planktonrules,Not for the squeamish....and rather silly. But...,"If ""Re-Animator"" was very realistic, it would ...",6.0,2013-12-11,9,6,2025-04-02 13:31:19,0
1,0089885,3447505,peefyn,"Starts of with a plot, but then derails into e...",I feel I missed a lot of great movie experienc...,6.0,2016-04-07,2,0,2025-04-02 13:31:19,0
2,0089885,3106387,kclipper,The H.P. Lovecraft adaptation that defined hor...,"Writer/Director, Stuart Gordon along with Prod...",10.0,2014-10-17,16,3,2025-04-02 13:31:19,0
3,0089885,9003535,ma-cortes,Cult horror movie about Doctor Herbert West/Je...,Based on the frightening story by the undisput...,7.0,2023-04-19,3,1,2025-04-02 13:31:19,0
4,0089885,3234999,grantss,Silly but entertaining,Silly but entertaining.\nRe-animator started r...,5.0,2015-05-09,9,2,2025-04-02 13:31:19,0
...,...,...,...,...,...,...,...,...,...,...,...
297,0089885,10161754,Bart-James,CHEER! - (8 stars out of 10),The stage curtains open ...\nWhat would you ge...,8.0,2024-11-28,0,0,2025-04-02 13:31:19,0
298,0089885,0225621,zorbathegeek,A great travesty of an even better story,If I had not read H.P.Lovecraft's story before...,NaN,2003-04-25,0,0,2025-04-02 13:31:19,0
299,0089885,0225564,batzi8m1,Evil Doctor Brings the Dead Back to Live as Mu...,"Yes, my evil assistant, we can re animate the ...",NaN,1999-11-10,0,0,2025-04-02 13:31:19,0
300,0089885,0225596,danielbr,Jeffrey Combs Is Great,"Wild,over the top,trashy Frankenstein style ho...",NaN,1999-04-14,0,0,2025-04-02 13:31:19,0
301,0089885,0225638,ibanez747,Phenomenal All Around,"This Jeffrey Combs, Stuart Gordon collaboratio...",NaN,2004-04-06,0,1,2025-04-02 13:31:19,0

In [27]:
pd.DataFrame(db.query_data("reviews_sentiments", condition=f"review_id = '0689301'"))

         0  1  2     3     4     5  6
0  0689301 -1 -1  None  None  None -1

# Delete reviews

In [ ]:
db.remove_data("reviews_raw", "review_id", 10389367)

# Query

In [ ]:
print("\nAll reviews:")
reviews = db.query_data('reviews_raw')
for review in reviews:
    print(review)

In [ ]:
print("\nReviews for movie 6208148:")
reviews = db.query_data('reviews_raw', condition='rating > 1')
for review in reviews:
    print(review)

# Close connection

In [ ]:
if 'db' in locals():
    db.close_connection()