In [1]:
from src.utils.db import PostgreSQLDatabase

In [2]:
db = PostgreSQLDatabase()
db.connect()

[INFO] Successfully connected to postgresql-138372.user-maeldieudonne

In [ ]:
# If an operation fails, the db gets in an aborted transaction state where it is basically locked.
# The failed operation must then be aborted with:
db.connection.rollback()

In [9]:
movie_id = '0089885'
db.insert_data("movies", data = [(movie_id, None, None, None, None)])

[ERROR] Failed inserting data: duplicate key value violates unique constraint "movies_pkey"
DETAIL:  Key (movie_id)=(0089885) already exists.

In [8]:
import pandas as pd
pd.DataFrame(db.query_data('movies'))

         0             1           2     3                   4
0  0219822  Human Nature  2001-09-12  82.0 2025-04-02 09:13:44
1  0089885          None        None   NaN                 NaT

# Delete reviews

In [ ]:
db.remove_data("reviews_raw", "review_id", 10389367)

# Query

In [ ]:
print("\nAll reviews:")
reviews = db.query_data('reviews_raw')
for review in reviews:
    print(review)

In [ ]:
print("\nReviews for movie 6208148:")
reviews = db.query_data('reviews_raw', condition='rating > 1')
for review in reviews:
    print(review)

# Close connection

In [ ]:
if 'db' in locals():
    db.close_connection()